# Managed by Ansible
GRAFANA_USER={{ grafana_user }}
GRAFANA_GROUP={{ grafana_user }}

GRAFANA_HOME=/usr/share/grafana

LOG_DIR={{ grafana_dir }}/logs
DATA_DIR={{ grafana_dir }}/data
PLUGINS_DIR={{ grafana_dir }}/plugins
PROVISIONING_CFG_DIR={{ grafana_dir }}/provisioning

CONF_DIR=/etc/grafana
CONF_FILE=/etc/grafana/grafana.ini
RESTART_ON_UPGRADE=true
MAX_OPEN_FILES=10000

PID_FILE_DIR=/run/grafana