apiVersion: 1
providers:
  - name: 'Node Exporter Full (1860)'
    orgId: 1
    folder: ''
    type: file
    disableDeletion: false
    editable: true
    options:
      path: "{{ grafana_dir }}/dashboards"
    inputs:
      - name: DS_PROMETHEUS
        pluginId: prometheus
        type: datasource
        value: Prometheus